
<!DOCTYPE html>
<html>

<head>

 
    <title>Pill Care</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ljz.css">
</head>


<body>

    <h1>Pill Care</h1>
    

    <p> Hello! My name is Junzhe Luo. and I am a EE
        student from UCSD. I am one of member in the team Pill Care </p>
        <hr>
        <h3 class="why"><a href="/kvp">Our KVP</a></h3>
        <hr>
        <h2 class="why">what it does & how it works</h2>
        <li class="why2">A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per day. 
        </li>
        <li class="why2">During the time the user needs to take pills, the alarm will sound indicating which sticker/pills they need to take with the pre-recorded sounds from their family members/physicians. The user then can take the bottle next to the reminder, if it’s the correct one, the reminder will state that it's correct and the amount the user should take each time; if it's not, the reminder will ask the user to try another bottle. 
        </li>
        <li class="why2">Pill Care also comes with a screen that can be attached to the Pill Care to display large font text for hearing-impaired elders.
        </li>
        <li class="why2">Pill Care also incorporates an app which sends notification to the user and the family whether pills need to be taken, and when the pills are taken by the patient. 
        </li>
    <hr>

    <h2 class="why">who the product is for</h2>
    <h3>Family members who:</h3>
    <section class="why">   
        <aside>
            Have elders need to take pills frequently
        </aside>
        <aside>
            Have elders with vision or hearing problems
        </aside>
        <aside>
            Can’t be around the elders 24/7
        </aside>
        <aside>
            care a lot for their families
        </aside>
    </section>
    
    <hr>
    <h2 class="why">Med management in 4 easy steps each phases:  </h2>
    <h3 class="why">There are 2 phases for using our product: </h3>
    <h4>Set up phase:</h4>
    <section class="why" >   
        <aside>
            <p>1. John stick the stickers to one of the pill bottle 
            </p>
            <p>2. John put the bottle on the Pill Care
            </p>
            <p>3. Pill Care “Bipped, start recording voice”
            </p>
            <p>4. John: “Grandma, please take this pill 3 pieces now, It’s john, love ya!”
            </p>
            <p>5. John then set up the time on the screen of PillCare</p>
            
            
        </aside>
        <aside>
            <img  style="vertical-align:top" src="ph1.png" width="300">
        </aside>
    </section>
   
    <h4>Use Phase:</h4>
    <section class="why">   
        <aside>
            <p>1. It’s 7:00 pm! Pill Care says:“Pill Time!”</p>
            <p>2. Grandma hold up one of the pill bottle and put it on Pill Care </p>
            <p>3. “Not this one! Try another one please!”</p>
            <p>4. Grandma tries another pill bottle</p>
            <p>5. “This one! “Grandma, please take this pill 3 pieces now, it’s John, love ya!”</p>
            <p>6. Grandma then happily takes the pill for 3 pieces with the love of his grandson in heart.</p> 
        </aside>
        <aside>
            <img  style="vertical-align:top" src="ph2.png" width="300" >
        </aside>
    </section>
    <hr>
    <h2 class="why">why you choose us</h2>
    <section class="why1 why">   
        <aside>
            <img src="b1.png" width="80">Exchange pill bottle’s cap and set up voice recording
        </aside>
        <aside>
            <img src="b2.png" width="100">Alarm at set time
        </aside>
        <aside>
            <img src="b4.png" width="100">Customized voicing
        </aside>
        <aside>
            <img src="b5.png" width="100">Detect whether the pill bottle is correct or not</p>
        </aside>
    </section>

    <hr>
      <h2>Check this for more information</h2>
      <li>Here is our video!</li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eaYg_9yNvOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
      <h2 class="why">Here is my Team</h2>

    
        <table class='margin-top-xl'>
            <thead>
                <tr>
                    <th class='small'> First Name </th>
                    <th class='medium'> Last Name </th>
                    <th class='large'> Email </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{user[0]}} </td>
                    <td> {{user[1]}} </td>
                    <td> {{user[2]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <hr>
        <p><i>Contact Me: </i></p>

    
        <ul>
            <li><a href="https://www.ece.ucsd.edu/"
                    target="_blank">ECE UCSD Homepage</a></li>

            <li><a
                    href="mailto: j5luo@ucsd.edu?subject=Hello" target="_blank">My Email address</a></li>

        </ul>

        <a href="https://github.com/davidluoucsd" target="_blank"><img src="git.png" alt="myGithub"
                style="width:42px;height:42px;"></a>
        <a href="https://ucsd.edu/" target="_blank"><img src="ucsd.png" alt="mySchool"
                style="width:140px;height:42px;"></a>

</body>
</html>